.options_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: .2s ease-in-out;
}

.options_modal_content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #faf7f7;
    border-radius: 1rem;
    flex-direction: column;
    box-shadow: 0 0 10px #bbbbbb8f;
    min-width: 250px;
}

.options_modal_active {
    opacity: 1;
    pointer-events: all;
    transition: .2s ease-in-out;
}

.options_logo img {
    width: 100px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffa9a9);
}

.options_close_x img {
    width: 30px;
    height: auto;
}

.options_close_x {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding: 1rem 1rem .6rem 1rem;
    border-bottom: 1px solid #b3b3b3;
}

.options-list-links {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.options-list-links li img {
    width: 25px;
    height: auto;
}

.options-list-links li a {
    text-decoration: none;
    color: rgba(71, 71, 71, 0.87);
}

.options-list-links li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    padding: .8rem 1rem;
    width: 100%;
}

.options-list-links li:nth-last-child(1):hover {
    background: #f0eeee;
    border-radius: 0 0 1rem 1rem;
}

.options-list-links li:hover {
    background: #f0eeee;
}

.options-perms {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.options-perms p {
    width: 90%;
}