.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
}

.dashboard-head {
    width: 30%;
}

/* ESTILOS DE LOS PRODUCTOS EN EL DASHBOARD */

.dashboard-p-form {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.form-products div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.form-products div input, textarea {
    padding: .5rem;
    width: 100%;
    border-radius: .8rem;
    color: unset;
    background: #cccccc;
    border: 1px solid #ccc;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
    resize: none;
}

.form-products {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.form-products button {
    padding: .5rem 1rem;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background: #aeacb3;
    border: none;
    transition: .2s ease-in-out;
    border: 1px solid transparent;
}

.form-products button:hover {
    transition: .2s ease-in-out;
    color: rgb(255, 114, 114);
    background: transparent;
    border: 1px solid #b98a8a;
    transition: .2s  ease-in-out;
    cursor: pointer;
}


/* ESTILOS DE LOS PRODUCTOS EN EL DASHBOARD */